@model Web.Models.EventModel
@{
    ViewData["Title"] = "View Details";
}
@{
}

<div class="col-md-12" align="center">
    <div class="card mb-12 shadow-sm" style="width: 50%;" align="center">
        <img class="bd-placeholder-img card-img-top" width="100" height="225" src="https://www.austinmacauley.com/us/sites/default/files/amanda_friedman_read_aloud_at_the_monessori_schools_-_flatiron_pic_1_0.jpg" alt="Card image cap">
        <div class="card-body">
            <h3 class="card-title font-weight-bold text-dark">@Model.Title</h3>

            <div class="card-body">

                @if (Model.Description != null)
                {
                    <div>
                        <p class="card-text"> <p class="text-info d-inline">Description :</p> @Model.Description
                    </div>
                }
                <div>
                    <p class="card-text"> <p class="text-info d-inline">Venue</p> : @Model.Location
                </div>

                <div>
                    <p class="card-text"> <p class="text-info d-inline">Event Date</p> : @Model.Date.ToShortDateString()
                </div>

                <div>
                    <p class="card-text"> <p class="text-info d-inline">Start Time :</p> @Model.Date.ToShortTimeString()
                </div>
                @if (Model.Duration != null)
                {
                    <div>
                        <p class="card-text"> <p class="text-info d-inline">Duration :</p> @Model.Duration Hrs
                    </div>

                }
                @if (Model.Invitees != null)
                {
                    var count = Model.Invitees.Split(',').Count();
                    <div>
                        <p class="card-text"> <p class="text-info d-inline">Total Invitees :</p> @count
                    </div>
                }

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div>It's a <p class="font-weight-bold d-inline text-info">@Model.Type </p>Event</div>
                </div>
                <div class="col-md-6">
                    <div>Organised by <p class="font-weight-bold d-inline text-info">@Model.Organiser</p></div>
                </div>
            </div>
            <p></p>
            <div>
                <a class="btn btn-outline-info" asp-controller="Home" asp-action="Index"><p class="font-weight-bold d-inline">Back to Event Page</p></a>
            </div>
        </div>
    </div>
    <p></p>

    <hr style="height:2px; width:80%; border-width:0; color:black; background-color:black">
    <div class="container">
        <div class="col-md-12" align="center" style="width: 50%;">
            @using (Html.BeginForm("PostComment", "Comment", new { EventId = Model.Id }))
            {
                <div class="form-group">
                    <div class="row">
                        <div class="col-12">
                            <textarea class="form-control"  name ="Comments" id="Comments" placeholder="Post Comments here....." rows="5"></textarea>
                            <span asp-validation-for="Comments" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-success btn-circle text-uppercase" type="submit" value="Post" id="submitComment"><span class="glyphicon glyphicon-send"></span> Post comment</button>
                    </div>
                </div>

            }
        </div>
    </div>

    @if (@Model.Comments.Count != 0)
    {
        <h4 class="display-4 text-dark ">Previous Comments!!</h4>
        @foreach (var i in Model.Comments)
        {
            <div class="container">
                <div class="card mb-12 shadow-sm" style="width: 50%;" align="center">
                    <div class="container">
                        <div class="col-12">
                            <p class="font-weight-bold">@i.Comments</p>
                        </div>
                    </div>
                </div>
                <small align="right" class="text-muted">@i.TimeStamp</small>
            </div>
            <br />

        }
    }

</div>
